// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:
body
  background: white

.login-button,
.logout-button
    cursor: pointer

.gift
    width: calc('(100% / 3) - 2em')
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;

    img
        width: 100%

    + .gift
        margin-left: 1em;
