section.page.admin

    h2 Admin Dashboard

    ul.nav.navbar-nav
        li
            a.pointer(data-hook="users-button") Users
        li
            a.pointer(data-hook="gifts-button") Gifts

    .viewport(data-hook="viewport")

    table.table.table-striped
        thead.temp-hide(data-hook="users-head")
            tr
                th.pointer
                    span User
                    span.arrow-down
                    span.arrow-up
        thead.temp-hide(data-hook="gifts-head")
            tr
                th.pointer(data-hook="header-title")
                    span Gift
                    span.arrow-down
                    span.arrow-up
                th.pointer(data-hook="header-user")
                    span User
                    span.arrow-down
                    span.arrow-up
                th.pointer(data-hook="header-created")
                    span Created
                    span.arrow-down
                    span.arrow-up
                th.pointer(data-hook="header-featured")
                    span Featured
                    span.arrow-down
                    span.arrow-up
        tbody(data-hook="table-view")
