section.page.view-gift

    h3(data-hook='time-passed')
    h2(data-hook='title')

    img(data-hook='image')
    p(data-hook='description')
    p(data-hook='user')

    h3 Comments
    ul.comments(data-hook='comment-list')

    form(data-hook="comment-form")
        fieldset(data-hook="field-container")
        .buttons
            button.btn.btn-primary(data-hook="reset", type="submit") Comment
