section.page
    div.container
    h2 Gifts

    .form-inline
        .radio
            label
                input(data-hook="female" name="gender" type="radio")
                span Female
        .radio
            label
                input(data-hook="male" name="gender" type="radio")
                span Male
        .radio
            label
                input(data-hook="either" name="gender" type="radio" checked)
                span Either
    .form-inline
        .form-group
            select.form-control(data-hook="time-list")
                option From today
                option From this week
                option From this month
                option From this year
                option From whenever
        .form-group
            select.form-control(data-hook="recipient-list")
        .form-group
            select.form-control(data-hook="occasion-list")
        .form-group
            select.form-control(data-hook="age-list")
                option Age
                option Newborn
                option 1 - 5
                option 11 - 15
                option 16 - 20
                option 21 - 30
                option 31 - 40
                option 41 - 50
                option 50+
        //.form-group
            input.form-control(data-hook="age-list" placeholder="Age")
        .form-group
            .input-group
                .input-group-addon $
                input.form-control(data-hook="price-min" placeholder="Minimum Price")
        .form-group
            .input-group
                .input-group-addon $
                input.form-control(data-hook="price-max" placeholder="Maximum Price")


    div.grid-list(data-hook="gift-list")

    button.btn.btn-primary(data-hook="more-button") More Gifts
