section.page
    div.container
    h2 Gifts
    .btn-toolbar
        .btn-group
            button.btn.btn-default(data-hook="female") Female
            button.btn.btn-default(data-hook="male") Male
        .btn-group
            button.btn.btn-default(data-hook="birthday") Birthday
            button.btn.btn-default(data-hook="christmas") Christmas

    div.grid-list(data-hook="gift-list")
