section.page.view-gift

    h2(data-hook='title')
    h3
        div
            span Posted&nbsp;
            span(data-hook='time-passed')
            span &nbsp;by&nbsp;
            a(data-hook='userUrl')
                span(data-hook='user')

    img(data-hook='image')
    p(data-hook='description')

    h3 Comments
    ul.comments(data-hook='comment-list')

    form(data-hook="comment-form")
        fieldset(data-hook="field-container")
        .buttons
            button.btn.btn-primary(data-hook="reset", type="submit") Comment
