section.page.view-user

    a.edit-button(data-hook="edit" href="/profile/edit") Edit Profile
    a(href="/account") Account Settings

    h2(data-hook='username')

    image(data-hook='image')

    p(data-hook="full-name")

    p(data-hook="location")

    a(data-hook="website" target="_blank")

    h3 Wants
    div.grid-list(data-hook="gift-list")
