section.page.edit-user

  h2 Update Profile

  form(data-hook="user-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn.btn-primary(data-hook="reset", type="submit") Update
