body {
  background: #fff;
}
.login-button,
.logout-button {
  cursor: pointer;
}
.grid-list {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .grid-list {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media screen and (min-width: 1110px) {
  .grid-list {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
.grid-list__item {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
  margin: 0 2px 15px;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 1em;
  background: #fefefe;
}
.grid-list__image {
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.grid-list__container {
  padding: 1em;
}
