li.post.list-group-item
    div
        span posted&nbsp;
        span(data-hook="time")
    div
        span by&nbsp;
        a(data-hook="authorUrl")
            span(data-hook="author")

    p(data-hook="content")
