li.post.list-group-item
    div
        span posted&nbsp;
        span(data-hook="time")
    div
        span by&nbsp;
        a(data-hook="authorUrl")
            span(data-hook="author")

    p(data-hook="content")

    a.edit-button.pointer(data-hook="edit") Edit

    form.temp-hide.edit-form(data-hook="edit-form")
        fieldset(data-hook="field-container")
        .buttons
            button.btn.btn-primary(data-hook="reset", type="submit") Update
            a(data-hook="edit-cancel").cancel-button Cancel
