body
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') Mike's AmperSandbox
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/ygmyg") Gifts
                    li
                        a(href="/blog") Blog
                    //li
                        a(href="/collections") collection demo
                    //li
                        a(href="/tracks") tracks
                    //li
                        a(href="/reactions") reactions
                    li
                        a.authed(data-hook="profile-link") Profile
                    li
                        a.unauthed.login-button(href="/login") Log In
                    li
                        a.authed.logout-button(data-hook="action-logout") Log Out
    .container
        main(data-hook="page-container")
