body
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') Ampersand App
                ul.nav.navbar-nav
                    li
                        a(href="/") home
                    li
                        a(href="/collections") collection demo
                    li
                        a(href="/info") more info
                    li
                        a(href="/tracks") tracks
                    li
                        a(href="/reactions") reactions
    .container
        main(data-hook="page-container")
