body
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand(data-hook="home-link" href='/') yGmyG
                ul.nav.navbar-nav
                    li
                        a(href="/find") Find a Gift
                    li
                        a(href="/new-gift") Post a Gift
                    //li
                        a(href="/ygmyg") Gifts
                    //li
                        a(href="/blog") Blog
                    //li
                        a(href="/collections") collection demo
                    //li
                        a(href="/tracks") tracks
                    //li
                        a(href="/reactions") reactions
                    li
                        a(data-hook="profile-link") Profile
                    li
                        a.logout-button(data-hook="action-logout") Log Out
    .container
        main(data-hook="page-container")
